<div class = "columns">
    <div class= "column is_three_quarters">
       <p class="bd-notification is-info">Placeholder</p>
        <img src="https://66.media.tumblr.com/b3803fd5e8649f5ea17551231af7dce9/tumblr_mkkef66JDK1qlzc82o1_500.gif">
        <div class="columns is-mobile">
            <div class="column content">       
                <h1>Available Burgers</h1>
                <ul>
                {{#each burgers}}
                    {{#unless devoured}}
                    <li>
                        {{burger_name}}
                        <button class='devour' data-id="{{id}}">Devour It!</button>
                    </li>
                    {{/unless}}
                {{/each}}
                </ul>
                <form id="create-burger-form" action="/api/burgers" method="POST">
                    <input type="text" name="burger_name">
                    <button> Add Burger</button>
                </form>
            </div>

            <div class="column content">
                <h1>Devoured Burgers</h1>
                <ul>
                {{#each burgers}}
                    {{#if devoured}}
                    <li>
                        {{burger_name}}
                    </li>
                    {{/if}}
                {{/each}}
                </ul>

            </div> 
        </div>
    </div> 
</div>
<script>
$("#create-burger-form").on("submit", (e) =>{
    e.preventDefault();
    const burgerData = {
        burger_name: $('[name="burger_name"]').val()
    };

    $.ajax({
        url: "/api/burgers",
       method: "POST",
       data: burgerData
    }).then(() =>{
        location.reload();
    })

});

$(".devour").on("click", function(){
    const burgerId = $(this).data("id");
    const updateRoute = "/api/burgers/" + burgerId;
    const burgerData = {

    };
    
    $.ajax({
        url:updateRoute,
        method: "PUT",
        data: {
            devoured: 1
        }
    }).then( () =>{
        location.reload();
    })
});
</script>